<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Books" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/books">
    <ion-nav-view name="tab-books"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Authors" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/authors">
    <ion-nav-view name="tab-authors"></ion-nav-view>
  </ion-tab>

</ion-tabs>
